@font-face {
    font-family: 'Karla';
    src: url(Karla/Karla-VariableFont_wght.ttf) ;
  }

body {
    margin: 0;
    font-family: Karla;
}

.main {
    background-color: #ECFDF5;
    width: 450px;
    height: 450px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.options {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-auto-rows: 40px;
}

#length-l {
    grid-column: 1/3;
}

#length {
    grid-column: 3/5;
    width: 80%;
}


input[type="checkbox"] {
    box-sizing: border-box;
    padding: 0;
    accent-color: #10B981;
  }

.open {
    border-bottom: 1px solid #D5D4D8;
}

.pass {
    display: flex;
    justify-content: space-between;
}

h1 {
    padding-top: 20px;
    color: #2B283A;
    font-weight: 900;
    font-size: 40;
    margin-bottom: 0;
}

h3 {
    font-size: 20px;
    font-weight: 400;
    color: #6B7280;
    margin-top: 5px;
    margin-bottom: 20px;
}

label {
    color:  #2B283A;
}

span {
    color: #10B981;
}

button {
    color: #FFFFFF;
    background-color: #10B981;
    border: none;
    border-radius: 3px;
    padding: 5px 5px;
    font-size: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}

#pass1, #pass2 {
    background-color: #2B283A;
    color: #5DEF92;
    margin-top: 30px;
    width: 200px;
    height: 33px;
    border-radius: 3px;
    text-align: center;
    line-height: 33px;
}